extends ../template/adminMain.template.pug
block content
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css')
    script(type='text/javascript', charset='utf8', src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js')
    if status
        script.
            swal({title: `#{status}`,icon: "success",});  
    script.
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );

    h1 Order
    br
    br
    table#myTable.display
        thead
            tr
                th Order Code
                th Status
                th Date
                th Action
        tbody
            each order in orderData
                -let link = "/user/order/"+order._id
                tr
                    td  !{order._id}
                    td  !{order.status} 
                    td  !{order.create_at} 
                    td  
                        a(href=link) View Order
