extends ../template/adminMain.template.pug
block content

    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css')
    script(type='text/javascript', charset='utf8', src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js')
    if status
        script.
            swal({title: `#{status}`,icon: "success",});  
    script.
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );

    h1 Product
    br 
    a.buttonCus.tab-button(href='/user/addProduct', role='button') Add Product 
 
    br
    br
   
    table#myTable.display
        thead
            tr
                th Product Name
                th Price
                th In Stock
                th Unit Sale
                th Action
        tbody
            each product in productData
                tr
                    -let linkInfo = "/user/productUpdate/"+product._id
                    -let linkDelete = "/user/productDelete/"+product._id
                    td= product.P_name 
                    td= product.P_unit_price.toString()+" $"
                    td= product.P_unit
                    td= product.P_unit_sale.toString()
                    td <a class="btn " href=#{linkInfo} role="button">Edit</a>&ensp;<a class="btn " href=#{linkDelete} role="button">Delete</a>

                    
        

