extends ../template/customerHome.template.pug
block newProduct
 if errors
        -let styleValidate = "";
        -let showErrors = "";
        each error,errName in errors
            -errors.error = errName
            -styleValidate  = styleValidate+ "#"+errName+" {border-bottom: 2px solid red;}  " 
            -showErrors = showErrors + "$('#"+errName+"ErrorInput"+"').append('"+error+"').css('color','red'); "
          
          
        style.   
            #{styleValidate}
            
        script.
            $(document).ready(function(){
              #{showErrors} 
            })
 br
 br
 section#blog-single.blog-single-content.pt90
  .container
    .row
      .blog-single-content
        .row
          .col-sm-9
            .blog-single-right-side
                h3(style="color:black") Change Password Account
                br
                form(action="/customer/changePass" method="POST")
                    input(type="hidden" name="_csrf", value = csrfToken readonly)
                    input#_id(type="hidden" name="_id" value=values? values._id :"" readonly)
                    label(for='curPass') Current password
                    input#curPass.form-control(type='password', name='curPass',value=values?values.curPass:"")
                    p#curPassErrorInput
                    label(for='password') Password
                    input#password.form-control(type='password', name='password',value=values?values.password:"")
                    p#passwordErrorInput
                    label(for='password 2') Confirm password
                    input#password2.form-control(type='password',name='password2',value=values?values.password2 :"")
                    p#password2ErrorInput
                    input.btn.btn-primary(type='submit', value='Edit')
          .col-sm-3
            .blog-single-right-side-bar
              .blog-single-right-side-content.mt50
                .blog-single-side-title.text-capitalize
                .category-item.mt20.ul-li
                  ul.category-item-list.ul-li-block
                    li
                      a(style="font-size:19px" href="/customer/info") Account Information
                    li
                      a(style="font-size:19px" href="/customer/changepass") Change Password
                    li
                      a(style="font-size:19px" href="/customer/orderManager") Order Management


 br
 br
 br
 br
 br
 br
 br
 br
 br
 br
 br
 br
 br