extends ../template/customerHome.template.pug
//- Block product filter
block productTypeDataFilter

    button(class= 'active tab-button' data-filter='*')
        | All
        span #{dataAllProduct.length}
    
    each value in dataPT
        -let filter = "."+value.TP_id
      
        button.tab-button(data-filter=filter) 
            | #{value.TP_name}
            span #{value.data.length}

//- Block show product
block showProduct
    each data in dataAllProduct
      -let filter = data.TP_id.join(' ') +" item item-grid"
      -let imgSrc = data.P_picture.slice(7)
      div(class= filter id=data._id)
        .item-wrap
            .work-item
                .work-pic
                    img(src=imgSrc, alt='image'   )
                .hover-content
                    .hover-text.text-center
                        a(href=imgSrc, data-lightbox='roadtrip')
                          span.ti-control-forward
                        
                    .project-description.text-uppercase.ul-li
                        h3
                          a(href='#') #{data.P_name}
                        p(style="color:black") #{data.P_unit_price.toString()} $
                        ul.project-catagorry.text-capitalize
                        span.ti-shopping-cart
                        a(href='#').text-capitalize.project-catagorry   Add to cart 
                            
