extends ../template/customerHome.template.pug
//- Block product filter
block productTypeDataFilter
 section#portfolio.portfolio-section
  .container
    .row
      .portfolio-content
        .portfolio-tab.pb55
          #filters.button-group.pb45
            button(class= 'active tab-button' data-filter='*')
              | All
              span #{dataAllProduct.length}
    
            each value in dataPT
              -let filter = "."+value.TP_id
      
              button.tab-button(data-filter=filter) 
                | #{value.TP_name}
                span #{value.data.length}

          .portfolio-tab-text-pic.row
              #posts
                each data in dataAllProduct
                  -let urlAddCart = '/add-to-cart/'+data._id
                  -let filter = data.TP_id.join(' ') +" item item-grid"
                  -let imgSrc = data.P_picture.slice(7)
                  -let productInfoURL = "/productInfo/"+data._id
                  div(class=filter id=data._id)
                    .item-wrap
                      .work-item
                        .work-pic
                          img(src=imgSrc, alt='image'   )
                        .hover-content
                          .hover-text.text-center
                            a(href=productInfoURL)
                              span.ti-control-forward
                        
                          .project-description.text-uppercase.ul-li
                              h3 #{data.P_name}
                              
                              p(style="color:black") #{data.P_unit_price.toString()} $
                              ul.project-catagorry.text-capitalize
                        
                                if(data.P_unit <=0)
                                  p(style='color:red').text-capitalize.project-catagorry  out of stock                    
                                if(data.P_unit <=5 && data.P_unit >0)
                                  span.ti-shopping-cart
                                  a(href=urlAddCart style='color:black').text-capitalize.project-catagorry   Add to cart
                                  p(style={color: 'red','font-size': '12px'}) Only #{data.P_unit} left 
                                if(data.P_unit>5)
                                  span.ti-shopping-cart
                                  a(href=urlAddCart style='color:black').text-capitalize.project-catagorry   Add to cart

block newProduct

 section#newsletter.newsletter-section
  .page-head-overlay
  .container
    .row
      .newsletter-section-content
        .newsletter-title.pb75
          h2.deep-black Subscribe On New Product
        .newsletter-form
          form.input-group(action='/subscribe' method="POST")
            input(type="hidden" name="_csrf", value = csrfToken readonly)
            input.form-control(type='email',name="email" placeholder='Enter Your Email')
            span.input-group-addon
              button(type='submit')
                span.deep-black.ti-arrow-right


