extends ../template/customerHome.template.pug
block newProduct

 br
 br
 section#blog-single.blog-single-content.pt90
  .container
    .row
      .blog-single-content
        .row
          .col-sm-9
            .blog-single-right-side
                h3(style="color:black") My Order
                br
                //- show order
                if(order.length <=0 )
                  p There are no order

                if(order.length>0)
                  table(style="width:100%;" )
                    thead
                      tr(style=" background-color:#F3F3F3;")
                        th(style="width:15%; padding:10px 10px 10px 0px;" ) Code Order
                        th(style="width:15%; padding:10px; ") Order Date
                        th(style="width:40%; padding:10px;") Products
                        th(style="width:15%; padding:10px;" ) Total Price
                        th(style="width:15%; padding:10px;") Status
                      each data in order

                        -let nameProduct = Object.values(data.cart.items)[0].item.P_name
                        -let lengthObject =Object.keys(data.cart.items).length
                        -let link = "/order/view/" + data._id
                        tr
                          td(style="width:15%; padding:10px 10px 10px 0px;" )
                            a(href=link style="color:#189EFF") !{data._id}
                          td(style="width:15%; padding:10px;" ) !{data.O_create_at}
                          if(lengthObject <= 1)
                            td(style="width:40%; padding:10px;") !{nameProduct}
                          if(lengthObject >> 1) 
                            td(style="width:40%; padding:10px;") !{nameProduct}...and !{lengthObject-1} product
                          td(style="width:15%; padding:10px;" ) !{data.cart.totalPrice} $
                          td(style="width:15%; padding:10px;" ) !{data.O_status}
          .col-sm-3
            .blog-single-right-side-bar
              .blog-single-right-side-content.mt50
                .blog-single-side-title.text-capitalize
                .category-item.mt20.ul-li
                  ul.category-item-list.ul-li-block
                    li
                      a(style="font-size:19px" href="/customer/info") Account Information
                    li
                      a(style="font-size:19px" href="/customer/changepass") Change Password
                    li
                      a(style="font-size:19px" href="/customer/orderManager") Order Management

 br
 br
 br

 br
 br
 br
 br
 br
 br
 br
 br
 br
 br

