extends ../template/customerHome.template.pug
block newProduct
 
 br
 br
 section#blog-single.blog-single-content.pt90
  .container
    .row
      .blog-single-content
        .row
          .col-sm-9
            .blog-single-right-side
              .blog-single-main-img
                -let linkIMG = "/"+data.picture
                img(src=linkIMG, alt='image' style="width:900px;height:auto; center")
              .blog-main-link.deep-black.mt20
              // //.blog-main-link
              .blog-meta.mt10.ul-li
                
                ul.meta-list
                  li
                     a #{data.date} 
                  
              // //.blog-meta
              br
              h3(style="color:black" ) Description
              .mt30
                span
                  -let content = "<p>" + data.content.replace(/\n/g, "</p>\n<p>") + "</p>"
                  p !{content}
             
              br
              .blog-share.ul-li.mt60
                span.share-it.text-uppercase.deep-black.pull-left Share On it -
                ul.page-head-social-list
                  li
                    a(href='#')
                      span.ti-facebook
                  li
                    a(href='#')
                      span.ti-twitter-alt

                // /.page-head-social-list
              // //.blog-share
            // //.blog-single-right-side     
          .col-sm-3
            .blog-single-right-side-bar
              // /.blog-search
              .blog-single-right-side-content.mt50
                .blog-single-side-title.text-capitalize
                  h2.widgettitle.deep-black #{data.name}
                // //.widgettitle
                br

                .category-item.mt20.ul-li
                  ul.category-item-list.ul-li-block
                    li
                      a Price 
                      span.badge.pull-right #{data.price} $
                    li



              .blog-single-right-side-content.mt50
                if(data.stock <=5 && data.stock >0)

                  .contact-adress-form
                    -let link = "/productInfo/"+data.id
                    form#contact_form(enctype="form-data"  action=link method="POST")
                      div.contact-info-item
                        input#unitProduct(name="unitProduct" type="number"  value=1 min="1"  style="text-align: center")
                        span
                         i.fa.fa-user(aria-hidden="true")
                      br
                      br
                      div.contact-info-item
                        button.text-uppercase(type="submit" style="width:100%") Add
                          i.fa.fa-angle-right(aria-hidden="true") 
                  a(style="color:red") There are only have !{data.stock} products
                if(data.stock <=0 )
                  a(style="color:red") Sorry this product is out of stoke.
                  br

                if(data.stock > 5)
                  .contact-adress-form
                    -let link = "/productInfo/"+data.id
                    form#contact_form(enctype="form-data"  action=link method="POST")
                      div.contact-info-item
                        input#unitProduct(name="unitProduct" type="number"  value=1 min="1"  style="text-align: center")
                        span
                         i.fa.fa-user(aria-hidden="true")
                      br
                      br
                      div.contact-info-item
                        button.text-uppercase(type="submit" style="width:100%") Add
                          i.fa.fa-angle-right(aria-hidden="true") 
              br
              br
              br
              br
              br
              br
              br
              if arSimilarP[0] !== undefined
               .blog-single-right-side-content.mt50
                .blog-single-side-title.text-capitalize
                  h2.widgettitle.deep-black similar product
                // //.widgettitle
                .recent-post-list.mt30
                  .recent-blog-item
                   
                  
                    each data in arSimilarP
                     -let img = "/"+data.picture.slice(7)
                     -let linkProduct = '/productInfo/' + data.id
                     .side-tab-img-text
                      .rec-img
                       a(href=linkProduct)
                        img(src=img)
                      .side-tab-text.ul-li
                        .rec-link
                          h3
                            a(href=linkProduct) !{data.name}
                          p Price :  !{data.price} $
                        ul.rec-nws-meta
                          li
                            a(href='#')
                              i.ti-timer
                              |  !{data.date}
                     hr 

                                                 
